.add-button{
    background-color: rgb(199, 218, 32);
    width: 150px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    cursor: pointer;

}

.totalPrice{
    color: red;
}